HTTP_PORT=8080
DATABASE_URL=postgres://keklik:keklik@localhost:5432/keklik
GOOGLE_OAUTH_CLIENT_ID=local-dev-client-id
GOOGLE_OAUTH_CLIENT_SECRET=local-dev-client-secret
GOOGLE_OAUTH_REDIRECT_URL=http://localhost:8080/auth/google/callback
APP_BASE_URL=http://localhost:8080
FRONTEND_URL=http://localhost:5173
ENABLE_TEST_AUTH=true
ENABLE_SWAGGER_UI=true
JWT_SIGNING_KEY=k+KYn0EA5edW66Pl5sAw/R5z9MeMjxbDYHqWTeUp3ag=
